<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lijinchao.mapper.UserPrivilegeMapper">

    <resultMap id="BaseResultMap" type="com.lijinchao.entity.UserPrivilege">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="privilegeId" column="privilege_id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="statusCd" column="status_cd" jdbcType="VARCHAR"/>
            <result property="statusDate" column="status_date" jdbcType="TIMESTAMP"/>
            <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
            <result property="createStaff" column="create_staff" jdbcType="BIGINT"/>
            <result property="updateDate" column="update_date" jdbcType="TIMESTAMP"/>
            <result property="updateStaff" column="update_staff" jdbcType="BIGINT"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,privilege_id,user_id,
        status_cd,status_date,create_date,
        create_staff,update_date,update_staff,
        is_deleted
    </sql>
</mapper>
